{% extends 'base.html.twig' %}
 
{% block body %}
    Bienvenue {{ app.user.username }} !
    <div>
        <a class="text-muted" href="{{ path('logout') }}">Déconnexion</a>
    </div>
    <div class="nav">
        <a class="lienPages" href="{{ path('projets_index') }}">Projets</a>
        <a class="lienPages" href="{{ path('images_index') }}">Images</a>
        <a class="lienPages" href="{{ path('competences_index') }}">Compétences</a>
        <a class="lienPages" href="{{ path('informations_index') }}">Informations</a>
    </div>
        
{% endblock %}