{% extends 'base.html.twig' %}

{% block title %}Modifier les competences{% endblock %}

{% block body %}
    <div>
        <a class="text-muted" href="{{ path('logout') }}">Déconnexion</a>
    </div>
    <div class="nav">
        <a class="lienPages" href="{{ path('projets_index') }}">Projets</a>
        <a class="lienPages" href="{{ path('images_index') }}">Images</a>
        <a class="lienPages" href="{{ path('competences_index') }}">Compétences</a>
        <a class="lienPages" href="{{ path('informations_index') }}">Informations</a>
    </div>
    <h1>Modifier les competences</h1>

    <div class="choix">
        {{ include('competences/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        {# {{ include('competences/_delete_form.html.twig') }} #}
    </div>
    <a class="retour" href="{{ path('competences_index') }}">Retour à la liste</a>
{% endblock %}