{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}

<div>
    <a class="text-muted" href="{{ path('logout') }}">Déconnexion</a>
</div>
<div class="nav">
<a class="lienPages" href="/admin/projets/">Projets</a>
<a class="lienPages" href="/admin/images/">Images</a>
<a class="lienPages" href="">Compétences</a>
<a class="lienPages" href="/admin/projets_images/">Projets_images</a>
<a class="lienPages" href="/admin/projets_competences/">Projets_compétences</a>
<a class="lienPages" href="/admin/informations/">Informations</a>
</div>
    <h1>Compétences</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.nom }}</td>
                <td>{{ competence.adresse }}</td>
                <td>
                    <div class="action">
                        <a class="stylebouton" href="{{ path('competences_show', {'id': competence.id}) }}">Voir</a>
                        <a class="stylebouton" href="{{ path('competences_edit', {'id': competence.id}) }}">Modifier</a>
                        {{ include('competences/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="commande">
    <a class="stylebouton" href="{{ path('competences_new') }}">Créer une compétence</a>
</div>
{% endblock %}