{% extends 'base.html.twig' %}

{% block title %}Images{% endblock %}

{% block body %}
<a class="text-muted" href="{{ path('logout') }}">Déconnexion</a>

<div class="nav">
    <a class="lienPages" href="{{ path('projets_index') }}">Projets</a>
    <a class="lienPages" href="{{ path('images_index') }}">Images</a>
    <a class="lienPages" href="{{ path('competences_index') }}">Compétences</a>
    <a class="lienPages" href="{{ path('informations_index') }}">Informations</a>
</div>
    <h1>Images</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ image.nom }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ image.url }}</td>
            </tr>
        </tbody>
    </table>

    
<div class="commande1">
    <a class="stylebouton1" href="{{ path('images_edit', {'id': image.id}) }}">Modifier</a>
    {{ include('images/_delete_form.html.twig') }}
</div>
<div>
    <a href="{{ path('images_index') }}">Retour à la liste</a>
</div>
{% endblock %}